<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="layout :: html">

<th:block th:fragment="contenido">

    <h1 class="mb-4">Clientes</h1>

    <a th:href="@{/admin/clientes/nuevo(from='clientes')}" class="btn btn-success">Crear cliente</a>

    <table class="table table-striped table-bordered">
        <thead class="table-dark">
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Documento</th>
            <th>Email</th>
            <th>Teléfono</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="c : ${clientes}">
            <td th:text="${c.nombre}"></td>
            <td th:text="${c.apellido}"></td>
            <td th:text="${c.documento}"></td>
            <td th:text="${c.email}"></td>
            <td th:text="${c.telefono}"></td>
            <td>
                <button class="btn btn-warning btn-sm">Editar</button>
            </td>
        </tr>
        </tbody>
    </table>
    <a href="/admin/dashboard" class="btn btn-secondary mt-3">Volver </a>

</th:block>
</html>