<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin Dashboard</title>
</head>

<body>

<h1>Panel Admin</h1>

<hr>

<h2>Turnos</h2>

<a href="/admin/turnos">
    <button>Ver todos los turnos</button>
</a>

<a href="/admin/turnos/nuevo">
    <button>Crear turno</button>
</a>

<hr>

<h2>Gestión</h2>

<a href="/admin/profesionales">
    <button>Profesionales</button>
</a>

<a href="/admin/clientes">
    <button>Clientes</button>
</a>

<hr>

<a href="/logout">
    <button>Cerrar sesión</button>
</a>

</body>
</html>


