<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="layout :: html">

<th:block th:fragment="contenido">

    <h1 class="mb-4">Nuevo Cliente</h1>

    <form th:action="@{/admin/clientes/nuevo}"
          th:object="${cliente}"
          method="post"
          class="needs-validation">

        <div class="mb-3">
            <label class="form-label">Nombre:</label>
            <input type="text" th:field="*{nombre}" class="form-control" required>
        </div>

        <div class="mb-3">
            <label class="form-label">Apellido:</label>
            <input type="text" th:field="*{apellido}" class="form-control" required>
        </div>

        <div class="mb-3">
            <label class="form-label">Documento:</label>
            <input type="text" th:field="*{documento}" class="form-control" required>
        </div>

        <div class="mb-3">
            <label class="form-label">Teléfono:</label>
            <input type="text" th:field="*{telefono}" class="form-control" required>
        </div>

        <div class="mb-3">
            <label class="form-label">Email:</label>
            <input type="email" th:field="*{email}" class="form-control">
        </div>

        <button type="submit" class="btn btn-success"
                onclick="return confirm('¿Seguro que quieres Crear el Cliente?')">
            Guardar cliente
        </button>

        <a th:if="${param.from[0]} == 'turnos'"
           href="/admin/turnos/nuevo"
           class="btn btn-secondary ms-2">
            Volver a crear turno
        </a>

        <a th:if="${param.from[0]} == 'clientes'"
           href="/admin/clientes"
           class="btn btn-secondary ms-2">
            Volver a lista de clientes
        </a>

        <a th:if="${param.from == null}"
           href="/admin/dashboard"
           class="btn btn-secondary ms-2">
            Volver al Panel Admin
        </a>

    </form>

</th:block>
</html>