<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dashboard Profesional</title>
</head>

<body>

<h1>Mis turnos</h1>

<h3 th:text="'Fecha: ' + ${fecha}"></h3>

<table border="1">

    <tr>
        <th>Fecha</th>
        <th>Hora</th>
        <th>Estado</th>
    </tr>

    <tr th:each="turno : ${turnos}">
        <td th:text="${turno.fecha}"></td>
        <td th:text="${turno.hora}"></td>
        <td th:text="${turno.estado}"></td>
    </tr>

</table>

<br>

<a href="/logout">Cerrar sesión</a>

</body>
</html>
